<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThreeDObjectViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThreeDObjectViewer.Properties.Settings>
            <setting name="IsCameraAxisShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCameraPreviewShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGridAxisShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WireGridSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceTwoSidedMaterials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TryToReadBrokenFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseModelTransform" serializeAs="String">
                <value>True</value>
            </setting>
        </ThreeDObjectViewer.Properties.Settings>
    </userSettings>
</configuration>